/*ESTILIZAÇÃO DO HERO*/
#hero {
  background: #FFC74E;
  height: 490px;
  padding-top: 50px;
  
}
.conteudo_hero {
  margin: auto;
  gap: 10px;
  display: flex;
  justify-content: center;  
  align-items: center;
}

#hero img {
  margin-top: 30px;
  height: 450px;
}

span {
  color: #53392E;
}

.texto_hero {
  max-width: 600px;
  margin-bottom: 50px;
}

.texto_hero h1 {
  font-size: 80px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.texto_hero h2 {
  color: #53392E;
  padding-top: 0;
  margin-top: 0;
  font-size: 14px;
}


.titulo h1 {
  text-align: center;
  padding: 100px 0px 50px 0px;
  font-size: 30px;
  color: black;
}


/*ESTILIZAÇÃO DA SEÇÃO PRODUTOS*/

#produtos {
  margin: 200px 0px;
}

.caixas_produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.caixa_produtos {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 450px;
  height: 150px;
  background-color: #FFC74E;
  transition: transform 0.3s ease-in-out;
}

.caixa_produtos h1 {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.caixa_produtos:hover {
  transform: scale(1.05);
  color: white;
  
}


/*ESTILIZAÇÃO DA SEÇÃO SOBRE*/
#sobre {
  background: #FFC74E;
  padding: 100px 0 60px 0; /* antes era só padding-top e bottom igual */
}

#historia {
  font-size: 38px;
}

.sinopse {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
 
}

.sinopse img {
  border-radius: 5px;
  height: 500px;
}

.texto_sobre {
  width: 500px;
  align-items: flex-start;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.texto_sobre h1 {
  color: #53392E;
  font-size: 38px;
  
}

.texto_sobre p {
  padding-top: 0;
  margin-top: 0;
}

.maria {
  padding-top: 250px;
}

.maria .texto_sobre {
  align-items: flex-end;
  text-align: justify;
}


/*ESTILIZAÇÃO DO CARROSEL DE FOTOS*/

.carrossel {
  margin-top: 200px;
  width: 100%;
  overflow: hidden;
}

.carrossel-inner {
  gap: 5px;
  display: flex;
  transition: transform 0.6s ease;
}

.carrossel-inner img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}


/*ESTILIZAÇÃO DA SEÇÃO CONTATO*/

#contato {
  background: #FFC74E;
  padding: 60px 0 200px 0; /* início mais suave */
}

.info {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 100px;
}

.caixa_info {
  background-color: white;
  height: 300px;
  width: 250px;
  position: relative;
  border-radius: 5px;
  overflow: visible;
}

.texto_info h3,
.texto_info h4,
.texto_info h5 {
  margin: 0; /* remove margens padrão */
  padding: 0; /* limpa espaçamentos antigos */
}

.texto_info {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.texto_info h2 {
  margin-top: 100px;
  text-align: center;
}

.texto_info h3 {
  font-weight: 400;
}

.texto_info h4 {
  margin-top: 50px;
  color: #53392E;
}

#loc h4 {
  margin-top: 22px;
}

.texto_info h4:hover {
  cursor: pointer;
  color: #FFC74E;
}

.circulo {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 130px;
  background-color: #53392E;
  border-radius: 50%;
  z-index: 2;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}

.circulo img {
  height: 50px;
  margin-bottom: 5px;
}

#sobre,
#contato {
  margin: 0;
}



