@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    font-family: "Poppins", "sans-serif";
    padding: 0;
    margin: 0;
    background-color: #FAF1CC;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.cabecalho {
  color: white;
  height: 60px;
  background-color: #53392E; 
  gap: 200px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

nav .menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
  padding: 0;
  width: 100%;
}

nav li a {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav li a:hover {
  color: #DFBA90;

}
#hero {
  display: flex;
  background: #FFC74E;
  height: 490px;
  padding: 50px 0;
  justify-content: center;   /* Centraliza horizontalmente */
  align-items: center;

}

#hero img {
  margin-top: 75px;
  height: 500px;
}

span {
  color: #53392E;
}

.texto_hero {
  padding: 50px ;
  max-width: 600px;
}

.texto_hero h1 {
  font-size: 80px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.texto_hero h2 {
  color: #53392E;
  padding-top: 0;
  margin-top: 0;
  font-size: 14px;
}


.titulo h1 {
  text-align: center;
  padding: 100px 0px 50px 0px;
  font-size: 30px;
  color: black;
}


.caixas_produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 25px;
  align-items: center;
  justify-content: center;
}

.caixa_produtos {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 450px;
  height: 150px;
  background-color: #FFC74E;
}

.caixa_produtos h1 {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

#contato {
  margin-bottom: 100px;
}

.info {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 100px;
}

.caixa_info {
  background-color: white;
  height: 400px;
  width: 300px;
  position: relative;
  border-radius: 12px;
  overflow: visible;
}

.caixa_info h2 {
  padding-top: 180px;
  text-align: center;
}

.circulo {
  position: absolute;
  top: -50px; /* move pra cima */
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  background-color: #FFC74E;
  border-radius: 50%;
  z-index: 2;
}

#sobre {
  background: #FFC74E;
  padding-top: 100px;
}

.sinopse {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.texto_sobre {
  padding: 20px;
  width: 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.carrossel {
  width: 100%;
  overflow: hidden;
}

.carrossel-inner {
  display: flex;
  transition: transform 0.6s ease;
}

.carrossel-inner img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
}